<h1>Users</h1>
<%= link_to "Create user", new_user_path, class: 'btn btn-primary' %>

<%= render "search" %>

<label for="fullname">Fullname</label>
<label for="actions">Actions</label>

<dl class='table-striped table-bordered' id='users'>
  <div id='users'>
    <%= render @users %>
  </div>
</dl>
