%h1 Hire a worker

%table.table
  %tr
    %th Name
    %th Talent
    %th Action
    - if @workers
      - @workers.each do |worker|
        %tr
          %td= worker.fullname
          %td= worker.talent.name
          %td
            = link_to 'Hire', '#', class: 'btn btn-success'
