%h1 Hire a worker

%table.table
  %tr
    %th Name
    %th Talent
    %th Action
    - if @workers
      - @workers.each do |worker|
        %tr
          %td= worker.fullname
          %td= worker.talent.name
          %td
            - if worker.employer == current_user
              = link_to 'Unhire', unhire_worker_employer_path(current_user.id, worker_id: worker.id), class: "btn btn-danger", method: :post
            - else
              = link_to 'Hire', hire_worker_employer_path(current_user.id, worker_id: worker.id), class: 'btn btn-success', method: :post
