-# %h1= "Current Talent - #{current_user.talent}"
%h1 Choose a talent

%table.table
  %tr
    %th Name
    %th Action
    - @talents.each do |talent|
      %tr
        %td= talent.name
        %td
          = link_to 'Choose', '#', class: 'btn btn-success'
