-# %h1= "Current Talent - #{current_user.talent}"
%h1 Choose a talent

%table.table
  %tr
    %th Name
    %th Action
    - @talents.each do |talent|
      %tr
        %td= talent.name
        %td
          = link_to 'Choose', choose_talent_worker_path(current_user.id, talent_id: talent.id), class: 'btn btn-success', method: :post
