!!!
%html(ng-app='Application')
  %head
    %title BeardedShame
    %meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}
    %meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport'}

    %base(href='/')

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

  %body(ng-controller='MainCtrl')

    .container-full
      %nav.navbar.navbar-default.navbar-fixed-top
        .navbar-content-wrap
          .navbar-header
            = image_tag 'logo.jpeg', class: 'navbar-brand'

          .collapse.navbar-collapse
            %ul.nav.navbar-nav
              %li
                %a(ui-sref='main')
                  %span Home
              %li
                %a(ui-sref='orders')
                  %span Orders
              %li
                %a(ui-sref='user')
                  %span Profile

    .container-fixed
      = yield
